<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label nzFor="name" nzRequired [nzSm]="4" [nzXs]="24">角色编码</nz-form-label>
    <nz-form-control nzErrorTip="请输入角色编码" [nzSm]="18" [nzXs]="24">
      <input id="name" name="name" formControlName="name" nz-input placeholder="请输入角色编码" />
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label nzFor="displayName" nzRequired [nzSm]="4" [nzXs]="24">角色名称</nz-form-label>
    <nz-form-control nzErrorTip="请输入角色名称" [nzSm]="18" [nzXs]="24">
      <input id="displayName" name="displayName" formControlName="displayName" nz-input placeholder="请输入角色名称" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="description" [nzSm]="4" [nzXs]="24">描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input id="description" name="description" formControlName="description" nz-input placeholder="请输入描述" />
    </nz-form-control>
  </nz-form-item>
</form>
