.filter-form {
  .button-group {
    margin-top: 8px;
  }

  .add-button {
    margin-top: 16px;
  }
}

.selected-standard,
.selected-material,
.selected-supplier {
  display: flex;
  align-items: center;
  gap: 8px;
}

