<nz-card>
  <form nz-form [formGroup]="filterForm" class="filter-form">
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>关键词</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="filter" placeholder="请输入检查项目名称" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24" class="button-group">
        <button nz-button nzType="primary" (click)="onSearch()">搜索</button>
        <button nz-button (click)="onReset()">重置</button>
      </div>
      <div class="add-button">
        <button nz-button nzType="primary" (click)="showAddModal()">
          <span nz-icon nzType="plus"></span>
          新增通用检查项目
        </button>
      </div>
    </div>
  </form>
</nz-card>

<nz-card style="margin-top: 16px;">
  <nz-table
    #generalInspectionItemTable
    nzShowSizeChanger
    [nzData]="data"
    [nzLoading]="loading"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  >
    <thead>
      <tr>
        <th>编号</th>
        <th>指标类别</th>
        <th>检查项目</th>
        <th>检验类型</th>
        <th>不良项目</th>
        <th>不良状态</th>
        <th>不良判定</th>
        <th>是否启用</th>
        <th>排序</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of generalInspectionItemTable.data">
        <td>{{ item.code }}</td>
        <td>{{ item.indicatorCategory }}</td>
        <td>{{ item.inspectionItemName }}</td>
        <td>{{ item.inspectionType }}</td>
        <td>{{ item.defectItem }}</td>
        <td>{{ item.defectStatus }}</td>
        <td>
          <nz-space>
            <nz-tag *ngFor="let tag of getJudgmentTags(item)" [nzColor]="getTagColor(tag)">{{ tag }}</nz-tag>
          </nz-space>
        </td>
        <td>
          <nz-switch [(ngModel)]="item.isEnabled" [nzDisabled]="true"></nz-switch>
        </td>
        <td>{{ item.sortOrder }}</td>
        <td>{{ item.remark || '-' }}</td>
        <td>
          <nz-space>
            <a (click)="showEditModal(item)">编辑</a>
            <a nz-popconfirm nzPopconfirmTitle="确定删除?" (nzOnConfirm)="deleteItem(item.id)" nzPopconfirmOkText="确定" nzPopconfirmCancelText="取消">删除</a>
          </nz-space>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="currentItem ? '编辑通用检查项目' : '新增通用检查项目'"
  [nzWidth]="700"
  (nzOnCancel)="handleModalCancel()"
  (nzOnOk)="handleModalOk()"
>
  <form nz-form [formGroup]="modalForm" nzLayout="vertical">
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>编号</nz-form-label>
          <nz-form-control nzErrorTip="请输入编号">
            <input nz-input formControlName="code" placeholder="请输入编号" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>指标类别</nz-form-label>
          <nz-form-control nzErrorTip="请选择指标类别">
            <nz-select formControlName="indicatorCategory" nzPlaceHolder="请选择指标类别">
              <nz-option *ngFor="let option of indicatorCategories" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>检查项目</nz-form-label>
          <nz-form-control nzErrorTip="请输入检查项目">
            <input nz-input formControlName="inspectionItemName" placeholder="请输入检查项目" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>检验类型</nz-form-label>
          <nz-form-control nzErrorTip="请选择检验类型">
            <nz-select formControlName="inspectionType" nzPlaceHolder="请选择检验类型">
              <nz-option *ngFor="let option of inspectionTypes" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>不良项目</nz-form-label>
          <nz-form-control nzErrorTip="请输入不良项目">
            <input nz-input formControlName="defectItem" placeholder="请输入不良项目" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>不良状态</nz-form-label>
          <nz-form-control nzErrorTip="请输入不良状态">
            <input nz-input formControlName="defectStatus" placeholder="请输入不良状态" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>不良判定</nz-form-label>
          <nz-form-control>
            <nz-space>
              <label nz-checkbox formControlName="isCritical">严重不合格(CR)</label>
              <label nz-checkbox formControlName="isMajor">主要不合格(MAJ)</label>
              <label nz-checkbox formControlName="isMinor">次要不合格(MIN)</label>
            </nz-space>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>是否启用</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isEnabled"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>排序</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="sortOrder" placeholder="请输入排序序号" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>备注</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="remark" placeholder="请输入备注" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>
