<div class="quality-inspection-plan-drawer">
  <form nz-form [formGroup]="createForm" *ngIf="!loading">
    <div nz-row class="form-row">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired>方案编码</nz-form-label>
          <nz-form-control [nzErrorTip]="createForm.get('code')?.dirty && createForm.get('code')?.hasError('required') ? '请输入方案编码' : undefined">
            <input nz-input formControlName="code" placeholder="请输入方案编码" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired>方案名称</nz-form-label>
          <nz-form-control [nzErrorTip]="createForm.get('name')?.dirty && createForm.get('name')?.hasError('required') ? '请输入方案名称' : undefined">
            <input nz-input formControlName="name" placeholder="请输入方案名称" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired>版本</nz-form-label>
          <nz-form-control [nzErrorTip]="createForm.get('version')?.dirty && createForm.get('version')?.hasError('required') ? '请输入版本' : undefined">
            <input nz-input formControlName="version" placeholder="请输入版本" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired>检验类型</nz-form-label>
          <nz-form-control [nzErrorTip]="createForm.get('inspectionType')?.dirty && createForm.get('inspectionType')?.hasError('required') ? '请选择检验类型' : undefined">
            <nz-select formControlName="inspectionType" nzPlaceHolder="请选择" nzStyle="width: 100%;">
              <nz-option *ngFor="let option of inspectionTypeOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    
    <div nz-row class="form-row">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired>抽样方案类型</nz-form-label>
          <nz-form-control [nzErrorTip]="createForm.get('samplingSchemeType')?.dirty && createForm.get('samplingSchemeType')?.hasError('required') ? '请选择抽样方案类型' : undefined">
            <nz-select formControlName="samplingSchemeType" nzPlaceHolder="请选择" nzStyle="width: 100%;">
              <nz-option *ngFor="let option of samplingSchemeTypeOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>抽样方案</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="samplingSchemeId" nzPlaceHolder="请选择" nzStyle="width: 100%;" (ngModelChange)="onSamplingSchemeChange($event)">
              <nz-option *ngFor="let scheme of samplingSchemes" [nzLabel]="scheme.name" [nzValue]="scheme.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>抽样方案名称</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="samplingSchemeName" placeholder="抽样方案名称" readonly />
          </nz-form-control>
        </nz-form-item>
      </div> -->
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>检验水平</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="inspectionLevel" nzPlaceHolder="请选择" nzStyle="width: 100%;">
              <nz-option *ngFor="let option of inspectionLevelOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>AQL值</nz-form-label>
          <nz-form-control>
            <nz-input-number formControlName="aqlValue" [nzStep]="0.01" nzStyle="width: 100%;"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    
    <div nz-row class="form-row">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>备注</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="remark" placeholder="请输入备注" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    
    <div nz-row class="form-row">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired>生效日期</nz-form-label>
          <nz-form-control [nzErrorTip]="createForm.get('effectiveDate')?.dirty && createForm.get('effectiveDate')?.hasError('required') ? '请选择生效日期' : undefined">
            <nz-date-picker formControlName="effectiveDate" nzShowTime nzStyle="width: 100%;"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>失效日期</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="expiryDate" nzShowTime nzStyle="width: 100%;"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>抽样方案配置</nz-form-label>
          <nz-form-control>
            <app-sampling-scheme-config [config]="createForm.get('samplingSchemeConfig')?.value" (configChange)="createForm.get('samplingSchemeConfig')?.setValue($event)"></app-sampling-scheme-config>
          </nz-form-control>
        </nz-form-item>
      </div> -->
    </div>
    
    <div class="steps-section">
      <div class="steps-header">
        <h3>质检步骤</h3>
        <button nz-button nzType="primary" (click)="addStep()" [disabled]="isViewMode">
          <span nz-icon nzType="plus"></span> 添加步骤
        </button>
      </div>
      
      <nz-collapse [nzExpandIconPosition]="'end'">
        <nz-collapse-panel 
          *ngFor="let stepGroup of (stepsFormArray?.controls || []); let i = index" 
          [nzHeader]="'步骤 ' + (i + 1) + (stepGroup.get('name')?.value ? ' - ' + stepGroup.get('name')?.value : '')"
          [nzActive]="true" [nzExtra]="extraTpl"
        >
          <ng-template #extraTpl>
            <button nz-button nzType="text" nzDanger (click)="removeStep(i)">
              <span nz-icon nzType="delete"></span> 删除步骤
            </button>
          </ng-template>
          <div [formGroup]="getStepFormGroup(stepGroup)" class="step-content">
            <div nz-row class="form-row">
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label nzRequired>步骤编码</nz-form-label>
                  <nz-form-control [nzErrorTip]="stepGroup.get('code')?.dirty && stepGroup.get('code')?.hasError('required') ? '请输入步骤编码' : undefined">
                    <input nz-input formControlName="code" placeholder="请输入步骤编码" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label nzRequired>步骤名称</nz-form-label>
                  <nz-form-control [nzErrorTip]="stepGroup.get('name')?.dirty && stepGroup.get('name')?.hasError('required') ? '请输入步骤名称' : undefined">
                    <input nz-input formControlName="name" placeholder="请输入步骤名称" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label nzRequired>排序</nz-form-label>
                  <nz-form-control [nzErrorTip]="stepGroup.get('sortOrder')?.dirty && stepGroup.get('sortOrder')?.hasError('required') ? '请输入排序' : undefined">
                    <nz-input-number formControlName="sortOrder" nzStyle="width: 100%;"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label>启用</nz-form-label>
                  <nz-form-control>
                    <nz-switch formControlName="isEnabled"></nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            
            <div nz-row class="form-row">
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label>抽样方案</nz-form-label>
                  <nz-form-control>
                    <nz-select formControlName="samplingSchemeId" nzPlaceHolder="请选择" nzStyle="width: 100%;" (ngModelChange)="onStepSamplingSchemeChange($event, i)">
                      <nz-option *ngFor="let scheme of samplingSchemes" [nzLabel]="scheme.name" [nzValue]="scheme.id"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <!-- <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label>抽样方案名称</nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="samplingSchemeName" placeholder="抽样方案名称" readonly />
                  </nz-form-control>
                </nz-form-item>
              </div> -->
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label>检验水平</nz-form-label>
                  <nz-form-control>
                    <nz-select formControlName="inspectionLevel" nzPlaceHolder="请选择" nzStyle="width: 100%;">
                      <nz-option *ngFor="let option of inspectionLevelOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label>AQL值</nz-form-label>
                  <nz-form-control>
                    <nz-input-number formControlName="aqlValue" [nzStep]="0.01" nzStyle="width: 100%;"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label>备注</nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="remark" placeholder="请输入备注" />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            
            
            <div class="items-section">
              <div class="items-header">
                <h5>质检指标</h5>
                <div class="items-actions">
                  <button nz-button nzType="primary" nzSize="small" (click)="addItem(i)" [disabled]="isViewMode">
                    <span nz-icon nzType="plus"></span> 新增
                  </button>
                  <button nz-button nzType="default" nzSize="small" (click)="showGeneralItemsModal(i)" [disabled]="isViewMode">
                    <span nz-icon nzType="filter"></span> 选择指标
                  </button>
                </div>
              </div>
              
              <nz-table
                #itemsTable
                [nzData]="(getItemsFormArray(i)?.controls || [])"
                nzSize="small"
                nzShowPagination="false"
                nzTableLayout="fixed"
              >
                <thead>
                  <tr>
                    <th nzWidth="40px">序号</th>
                    <th nzWidth="80px">指标编码</th>
                    <th nzWidth="260px">指标名称</th>
                    <th nzWidth="80px">检验方式</th>
                    <!-- <th nzWidth="100px">标准值</th>
                    <th nzWidth="100px">USL</th>
                    <th nzWidth="100px">LSL</th>
                    <th nzWidth="100px">UCL</th>
                    <th nzWidth="100px">LCL</th> -->
                    <th nzWidth="60px">排序</th>
                    <th nzWidth="80px">指标类别</th>
                    <th nzWidth="80px">数据类型</th>
                    <th nzWidth="60px">单位</th>
                    <th nzWidth="80px">小数位</th>
                    <th nzWidth="50px">破坏性</th>
                    <th nzWidth="40px">启用</th>
                    <th nzWidth="80px">判定规则</th>
                    <th nzWidth="80px">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemGroup of (getItemsFormArray(i)?.controls || []); let j = index"  [formGroup]="getStepFormGroup(itemGroup)" [ngClass]="{'item-invalid': itemGroup && !isItemValid(itemGroup)}">
                    <td>{{ j + 1 }}</td>
                    <td>
                      <input nz-input formControlName="code" placeholder="请输入指标编码" />
                    </td>
                    <td>
                      <input nz-input formControlName="name" placeholder="请输入指标名称" />
                    </td>
                    <td>
                      <nz-select formControlName="inspectionType" nzPlaceHolder="请选择" nzStyle="width: 100%;">
                        <nz-option *ngFor="let option of inspectionMethodOptions" [nzLabel]="option.label" [nzValue]="option.label"></nz-option>
                      </nz-select>
                    </td>
                    <!--
                    <td>
                      <nz-select formControlName="inspectionMethod" nzPlaceHolder="请选择" nzStyle="width: 100%;">
                        <nz-option *ngFor="let option of inspectionMethodOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                    </td>
                    
                     <td>
                      <nz-input-number formControlName="standardValue" [nzStep]="0.01" nzStyle="width: 100%;" (ngModelChange)="itemGroup && validateItemValues(itemGroup)"></nz-input-number>
                    </td>
                    <td>
                      <nz-input-number formControlName="usl" [nzStep]="0.01" nzStyle="width: 100%;" (ngModelChange)="itemGroup && validateItemValues(itemGroup)"></nz-input-number>
                    </td>
                    <td>
                      <nz-input-number formControlName="lsl" [nzStep]="0.01" nzStyle="width: 100%;" (ngModelChange)="itemGroup && validateItemValues(itemGroup)"></nz-input-number>
                    </td>
                    <td>
                      <nz-input-number formControlName="ucl" [nzStep]="0.01" nzStyle="width: 100%;" (ngModelChange)="itemGroup && validateItemValues(itemGroup)"></nz-input-number>
                    </td>
                    <td>
                      <nz-input-number formControlName="lcl" [nzStep]="0.01" nzStyle="width: 100%;" (ngModelChange)="itemGroup && validateItemValues(itemGroup)"></nz-input-number>
                    </td> -->
                    <td>
                      <nz-input-number formControlName="sortOrder" nzStyle="width: 100%;"></nz-input-number>
                    </td>
                    <td>
                      <input nz-input formControlName="indicatorCategory" placeholder="类别" />
                    </td>
                    <td>
                      <nz-select formControlName="dataType" nzPlaceHolder="数据类型" style="width: 100%;">
                        <nz-option *ngFor="let item of dataTypeOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <input nz-input formControlName="unit" placeholder="单位" />
                    </td>
                    <td>
                      <nz-input-number formControlName="decimalPlaces" [nzMin]="0" [nzMax]="10" nzStyle="width: 100%;"></nz-input-number>
                    </td>
                    <td>
                      <nz-switch formControlName="isCritical"></nz-switch>
                    </td>
                    <td>
                      <nz-switch formControlName="isEnabled"></nz-switch>
                    </td>
                    <td>
                      <nz-tag [nzColor]="(getRulesFormArray(j, i)?.length || 0) > 0 ? 'success' : 'default'">
                        {{ (getRulesFormArray(j, i)?.length || 0) }} 条
                      </nz-tag>
                      <button nz-button nzType="link" nzSize="small" (click)="showRuleModal(j, i)" [disabled]="isViewMode">
                        <span nz-icon nzType="setting"></span>
                      </button>
                    </td>
                    <td>
                      <button nz-button nzType="text" nzDanger (click)="removeItem(i, j)" [disabled]="isViewMode">
                        <span nz-icon nzType="delete"></span> 删除
                      </button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </form>
  
  <div *ngIf="loading" class="loading-container">
    <nz-spin nzTip="加载中..."></nz-spin>
  </div>
</div>

<!-- 判定规则模态框 -->
<nz-modal
  [(nzVisible)]="isRuleModalVisible"
  nzTitle="判定规则配置"
  [nzWidth]="800"
  (nzOnCancel)="handleRuleModalCancel()"
  (nzOnOk)="handleRuleModalOk()"
  [nzOkDisabled]="ruleForm?.invalid"
>
  <ng-container *nzModalContent>
    <div class="rule-modal-content">
      <div class="rule-form-container">
        <button nz-button nzType="primary" (click)="addNewRule()" [disabled]="isViewMode" style="margin-bottom: 16px;">
          <span nz-icon nzType="plus"></span> 添加判定规则
        </button>
        
        <nz-table
          #ruleTable
          [nzData]="(rulesFormArray?.controls || [])"
          nzSize="small"
          nzShowPagination="false"
        >
          <thead>
            <tr>
              <th nzWidth="120px">规则名称</th>
              <th nzWidth="100px">严重等级</th>
              <th nzWidth="80px">优先级</th>
              <th nzWidth="150px">条件表达式</th>
              <th nzWidth="100px">判定结果</th>
              <th nzWidth="80px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ruleGroup of (rulesFormArray?.controls || []); let k = index" [formGroup]="getRuleFormGroup(ruleGroup)">
              <td>
                <input nz-input formControlName="name" placeholder="规则名称" />
              </td>
              <td>
                <nz-select formControlName="severityLevel" nzPlaceHolder="请选择" nzStyle="width: 100%;">
                  <nz-option nzLabel="严重" nzValue="严重"></nz-option>
                  <nz-option nzLabel="一般" nzValue="一般"></nz-option>
                  <nz-option nzLabel="轻微" nzValue="轻微"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-input-number formControlName="priority" nzStyle="width: 100%;"></nz-input-number>
              </td>
              <td>
                <input nz-input formControlName="conditionExpression" placeholder="条件表达式" />
              </td>
              <td>
                <nz-select formControlName="judgmentResult" nzPlaceHolder="判定结果" style="width: 100%;">
                  <nz-option nzLabel="合格" nzValue="OK"></nz-option>
                  <nz-option nzLabel="不合格" nzValue="NG"></nz-option>
                </nz-select>
              </td>
              <td>
                <button nz-button nzType="text" nzDanger (click)="removeRuleFromModal(k)" [disabled]="isViewMode">
                  <span nz-icon nzType="delete"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
        
        <div *ngIf="(rulesFormArray?.length || 0) === 0" style="text-align: center; padding: 20px; color: #999;">
          暂无判定规则，请点击"添加判定规则"按钮添加
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
