<nz-modal
  [(nzVisible)]="visible"
  nzTitle="选择供应商"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
  nzWidth="1000px"
>
  <ng-container *nzModalContent>
    <nz-card nzSize="small">
      <form nz-form [formGroup]="filterForm" class="filter-form">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="10">
            <nz-form-item>
              <nz-form-label>关键词</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="filter" placeholder="请输入供应商编码或名称" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label>状态</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="isEnabled" nzPlaceHolder="请选择状态" [nzAllowClear]="true">
                  <nz-option *ngFor="let option of statusOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8" class="button-group">
            <button nz-button nzType="primary" (click)="onSearch()">搜索</button>
            <button nz-button (click)="onReset()">重置</button>
          </div>
        </div>
      </form>
    </nz-card>

    <nz-card nzSize="small" style="margin-top: 16px;">
      <nz-table
        #supplierTable
        nzShowSizeChanger
        [nzData]="data"
        [nzLoading]="loading"
        [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize"
        [nzTotal]="total"
        [nzFrontPagination]="false"
        (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)"
        nzSize="small"
      >
        <thead>
          <tr>
            <th>供应商编码</th>
            <th>供应商名称</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of supplierTable.data">
            <td>{{ data.code }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.contactPerson || '-' }}</td>
            <td>{{ data.contactPhone || '-' }}</td>
            <td>
              <span nz-icon [nzType]="data.isEnabled ? 'check-circle' : 'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="data.isEnabled ? '#52c41a' : '#ff4d4f'"></span>
            </td>
            <td>
              <a (click)="selectSupplier(data)">选择</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </ng-container>
</nz-modal>
