<div class="comments-container">
  <!-- <nz-list [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
      <nz-comment [nzAuthor]="item.creatorName || '匿名'" [nzDatetime]="(item.creationTime | date:'yyyy-MM-dd HH:mm') || ''">
       <nz-avatar nzIcon="user" style="background-color:#87d068;" />
        <nz-avatar nzGap="4" [nzText]="item.creatorName || '匿名'" nzSize="large" [style.background-color]="color()" />
        <div nz-comment-content>
          <p>{{ item.content }}</p>
        </div>
        <nz-comment-action>
          <span nz-icon nzType="delete" nzTheme="outline" (click)="deleteComment(item.id!)">删除</span>
        </nz-comment-action>
      </nz-comment>
    </ng-template>
  </nz-list> -->

    <nz-list [nzDataSource]="comments" [nzRenderItem]="item" nzItemLayout="horizontal">
      <ng-template #item let-item>
       <nz-comment [nzAuthor]="item.creatorName || '匿名'" [nzDatetime]="(item.creationTime | date:'yyyy-MM-dd HH:mm') || ''">
         <nz-avatar nz-comment-avatar nzIcon="user" style="background-color:#87d068;" />
          <nz-comment-content>
            <p>{{ item.content }}</p>
          </nz-comment-content>
          <nz-comment-action>
            <span nz-icon nzType="delete" nzTheme="outline" (click)="deleteComment(item.id!)">删除</span>
          </nz-comment-action>
          <nz-comment-action>回复</nz-comment-action>
        </nz-comment>
      </ng-template>
    </nz-list>


  <div class="comment-form">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <nz-form-item>
        <nz-form-control>
           <nz-mention [nzSuggestions]="users" (nzOnSelect)="onSelect($event)" [nzValueWith]="valueWith">
              <textarea
                rows="6"
                placeholder="请输入评论内容，支持@提及..."
                nzMentionTrigger
                nz-input
                formControlName="content"
              ></textarea>
          </nz-mention>



          <nz-upload nzType="drag"
            [nzShowButton]="true"
            [nzBeforeUpload]="beforeUpload"
            [nzFileList]="fileList"
            [nzShowUploadList]="true"
            [nzMultiple]="false"
            (nzChange)="upLoadNzChange($event)"
          >
          <p class="ant-upload-drag-icon">
                  <nz-icon nzType="inbox" />
                </p>
                <p class="ant-upload-text">点击或将文件拖拽至此区域以上传</p>
                <p class="ant-upload-hint">
                  支持单次或批量上传。严禁上传公司数据及其他违规文件
                </p>
          </nz-upload>
          <!-- <nz-list nzBordered headerRowOutlet>
            @for (file of fileList; track file) {
              <nz-list-item>
                <a href="javascript:void(0)" (click)="open(file)">{{ file.filename }}</a>
              </nz-list-item>
            }
          </nz-list> -->
          <nz-list nzBordered headerRowOutlet>
  @for (path of paths; track path) {
    <nz-list-item>
      <a href="javascript:void(0)" (click)="open(path)">{{ path }}</a>
    </nz-list-item>
  }
</nz-list>

        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="commentForm.invalid">提交评论</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>