<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card class="m-b-10" nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }">
    <form nz-form>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzFor]="">关键词</nz-form-label>
            <nz-form-control>
              <input name="filter" nz-input placeholder="请输入编码或名称" [(ngModel)]="filterForm.filter" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzFor]="">抽样类型</nz-form-label>
            <nz-form-control>
              <nz-select name="schemeType" nzAllowClear nzPlaceHolder="请选择抽样类型" [(ngModel)]="filterForm.schemeType">
                @for (option of schemeTypeOptions; track option) {
                  <nz-option [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="text-right p-0 m-b-10" nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
          <button nz-button [nzType]="'primary'" (click)="getDataList({ pageIndex: 1 })">
            <i nz-icon nzType="search"></i>
            搜索
          </button>
          <button class="m-l-15" nz-button (click)="resetForm()">
            <i nz-icon nzTheme="outline" nzType="close-circle"></i>
            重置
          </button>
        </div>
      </div>
    </form>
  </nz-card>

  <app-card-table-wrap [btnTpl]="tableBtns" [tableTitle]="'抽样方案列表'" (reload)="reloadTable()">
    <app-ant-table
      [checkedCashArrayFromComment]="checkedCashArray"
      [tableConfig]="tableConfig"
      [tableData]="dataList"
      (changePageIndex)="getDataList($event)"
      (changePageSize)="changePageSize($event)"
      (selectedChange)="selectedChecked($event)"
    ></app-ant-table>
    <ng-template #operationTpl let-$$dataItem="$$dataItem" let-id="id">
      <span class="operate-text" (click)="edit(id, $$dataItem)">编辑</span>
      <span class="operate-text" (click)="del(id)">删除</span>
    </ng-template>
  </app-card-table-wrap>

  <ng-template #tableBtns>
    <button class="m-r-8" nz-button nzType="primary" (click)="add()">
      <i nz-icon nzType="plus"></i>
      新建
    </button>
  </ng-template>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="{{ isEdit ? '编辑抽样方案' : '新增抽样方案' }}"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzWidth="800px"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="modalForm" nzLayout="vertical">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>方案编码</nz-form-label>
            <nz-form-control [nzErrorTip]="getCodeErrorTip">
              <input nz-input formControlName="code" placeholder="请输入方案编码" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>方案名称</nz-form-label>
            <nz-form-control [nzErrorTip]="getNameErrorTip">
              <input nz-input formControlName="name" placeholder="请输入方案名称" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired>抽样类型</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="schemeType" nzPlaceHolder="请选择抽样类型">
                @for (option of schemeTypeOptions; track option) {
                  <nz-option [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label>抽检次数</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="sortOrder" [nzMin]="0" [nzStep]="1" style="width: 100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
 
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label>状态</nz-form-label>
            <nz-form-control>
              <nz-switch formControlName="isEnabled" nzCheckedChildren="启用" nzUnCheckedChildren="禁用"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div> 

      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label>描述</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="description" placeholder="请输入描述" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-divider nzText="AQL抽样配置" *ngIf="showAqlConfig"></nz-divider>
      <ng-container *ngIf="showAqlConfig">
        <div *ngIf="editId" style="margin-top: 16px;">
              <button nz-button nzType="primary" nzSize="small" (click)="addAqlDetail()">
              <span nz-icon nzType="plus"></span>新建AQL
            </button>
           <!-- 总数模板写在表格外面 -->
<ng-template #totalTemplate let-total>
  共 {{ total }} 条
</ng-template>
          <nz-table 
            #aqlDetailsTable 
            [nzData]="aqlDetails" 
            nzSize="small" 
            [nzFrontPagination]="false"
            [nzShowPagination]="true"
            [nzPageSize]="aqlTablePageSize"
            [(nzPageIndex)]="aqlTablePageIndex"
            [nzTotal]="aqlTableTotal"
             [nzShowTotal]="totalTemplate"
            (nzPageIndexChange)="onAqlPageIndexChange($event)"
            (nzPageSizeChange)="onAqlPageSizeChange($event)"
            [nzScroll]="{ y: '240px' }">
            <thead>
              <tr>
                <th nzWidth="60px">字码</th>
                <th nzWidth="80px">AQL值</th>
                <th nzWidth="80px">样本量</th>
                <th nzWidth="60px">Ac</th>
                <th nzWidth="60px">Re</th>
                <th nzWidth="120px">批量范围</th>
                <th nzWidth="60px">状态</th>
                <th nzWidth="100px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aql of aqlDetailsTable.data">
                <td><nz-tag nzColor="blue">{{ aql.sampleSizeCode }}</nz-tag></td>
                <td>{{ aql.aqlValue }}</td>
                <td>{{ aql.sampleSize }}</td>
                <td><nz-tag [nzColor]="aql.acceptanceNumber > 0 ? 'green' : 'default'">{{ aql.acceptanceNumber >= 0 ? aql.acceptanceNumber : '-' }}</nz-tag></td>
                <td><nz-tag nzColor="red">{{ aql.rejectionNumber >= 0 ? aql.rejectionNumber : '-' }}</nz-tag></td>
                <td>{{ aql.minLotSize }}-{{ aql.maxLotSize }}</td>
                <td><nz-tag [nzColor]="aql.isEnabled ? 'success' : 'default'">{{ aql.isEnabled ? '启用' : '禁用' }}</nz-tag></td>
                <td>
                  <span class="operate-text" (click)="editAqlDetail(aql)">编辑</span>
                  <span class="operate-text" (click)="deleteAqlDetail(aql)">删除</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>

        <div *ngIf="!editId" style="margin-top: 16px;">
          <nz-alert nzType="info" nzMessage="保存抽样方案后，可在方案详情中维护AQL明细"></nz-alert>
        </div>
      </ng-container>

      <nz-divider nzText="C=0抽样配置" *ngIf="showCZeroConfig"></nz-divider>
      <ng-container *ngIf="showCZeroConfig">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label>固定样本量</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="fixedSampleSize" [nzMin]="0" nzPlaceHolder="请输入固定样本量" style="width: 100%;"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>接收数(Ac)</nz-form-label>
              <nz-form-control [nzErrorTip]="getC0ValidationMessage('acceptanceNumber')">
                <nz-input-number formControlName="acceptanceNumber" [nzMin]="0" nzPlaceHolder="请输入接收数" style="width: 100%;"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>拒收数(Re)</nz-form-label>
              <nz-form-control [nzErrorTip]="getC0ValidationMessage('rejectionNumber')">
                <nz-input-number formControlName="rejectionNumber" [nzMin]="0" nzPlaceHolder="请输入拒收数" style="width: 100%;"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>

      <nz-divider nzText="计量抽样配置" *ngIf="showVariableConfig"></nz-divider>
      <ng-container *ngIf="showVariableConfig">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label>固定样本量</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="fixedSampleSize" [nzMin]="0" nzPlaceHolder="请输入固定样本量" style="width: 100%;"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>

      <nz-divider nzText="连续抽样配置" *ngIf="showContinuousConfig"></nz-divider>
      <ng-container *ngIf="showContinuousConfig">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label>抽样百分比(%)</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="samplePercentage" [nzMin]="0" [nzMax]="100" nzPlaceHolder="请输入抽样百分比" style="width: 100%;"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>

    
    </form>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isAqlModalVisible"
  [nzTitle]="editingAqlDetail?.id ? '编辑AQL明细' : '新增AQL明细'"
  (nzOnCancel)="cancelAqlEdit()"
  (nzOnOk)="saveAqlDetail()"
  nzWidth="600px"
>
  <ng-container *nzModalContent>
    <nz-form-item>
      <nz-form-label nzRequired>编码</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="editingAqlDetail.code" placeholder="请输入编码" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>检验水平</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="editingAqlDetail.inspectionLevel" nzPlaceHolder="请选择检验水平">
          @for (option of inspectionLevelOptions; track option) {
            <nz-option [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>AQL值</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="editingAqlDetail.aqlValue" nzPlaceHolder="请选择AQL值">
          <nz-option nzLabel="0.010" [nzValue]="0.010"></nz-option>
          <nz-option nzLabel="0.015" [nzValue]="0.015"></nz-option>
          <nz-option nzLabel="0.025" [nzValue]="0.025"></nz-option>
          <nz-option nzLabel="0.040" [nzValue]="0.040"></nz-option>
          <nz-option nzLabel="0.065" [nzValue]="0.065"></nz-option>
          <nz-option nzLabel="0.10" [nzValue]="0.10"></nz-option>
          <nz-option nzLabel="0.15" [nzValue]="0.15"></nz-option>
          <nz-option nzLabel="0.25" [nzValue]="0.25"></nz-option>
          <nz-option nzLabel="0.40" [nzValue]="0.40"></nz-option>
          <nz-option nzLabel="0.65" [nzValue]="0.65"></nz-option>
          <nz-option nzLabel="1.0" [nzValue]="1.0"></nz-option>
          <nz-option nzLabel="1.5" [nzValue]="1.5"></nz-option>
          <nz-option nzLabel="2.5" [nzValue]="2.5"></nz-option>
          <nz-option nzLabel="4.0" [nzValue]="4.0"></nz-option>
          <nz-option nzLabel="6.5" [nzValue]="6.5"></nz-option>
          <nz-option nzLabel="10" [nzValue]="10"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>最小批量</nz-form-label>
          <nz-form-control>
            <nz-input-number [(ngModel)]="editingAqlDetail.minLotSize" [nzMin]="1" style="width: 100%;"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>最大批量</nz-form-label>
          <nz-form-control>
            <nz-input-number [(ngModel)]="editingAqlDetail.maxLotSize" [nzMin]="1" style="width: 100%;"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>样本量字码</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="editingAqlDetail.sampleSizeCode" placeholder="如：A、B、C" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>样本量</nz-form-label>
          <nz-form-control>
            <nz-input-number [(ngModel)]="editingAqlDetail.sampleSize" [nzMin]="1" style="width: 100%;"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>接收数(Ac)</nz-form-label>
          <nz-form-control>
            <nz-input-number [(ngModel)]="editingAqlDetail.acceptanceNumber" [nzMin]="0" style="width: 100%;"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>拒收数(Re)</nz-form-label>
          <nz-form-control>
            <nz-input-number [(ngModel)]="editingAqlDetail.rejectionNumber" [nzMin]="0" style="width: 100%;"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label>启用状态</nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="editingAqlDetail.isEnabled"></nz-switch>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
</nz-modal>
