.filter-form {
  .button-group {
    display: flex;
   // align-items: center;
    gap: 8px;
   // margin-top: 24px;
  }

  .add-button {
    margin-top: 16px;
  }
}

.add-item-button {
  margin-bottom: 16px;
}

.item-card {
  margin-bottom: 16px;
}
